<!DOCTYPE html>
<html lang="en" class="antialiased">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DataTables</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" rel="stylesheet">
    <!-- DataTables Responsive Extension CSS -->
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
    <!-- JSZip -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <!-- ExcelJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.1.1/exceljs.min.js"></script>
    <!-- jQuery UI for date picker -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>
        #map {
            height: 1000px;
            width: 100%;
        }

        /* Overrides for Tailwind CSS */
        .dataTables_wrapper select,
        .dataTables_wrapper .dataTables_filter input {
            color: #4a5568;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: .5rem;
            padding-bottom: .5rem;
            margin-bottom: .5rem;
            line-height: 1.25;
            border-width: 2px;
            border-radius: .25rem;
            border-color: #edf2f7;
            background-color: #edf2f7;
        }

        table.dataTable.hover tbody tr:hover,
        table.dataTable.display tbody tr:hover {
            background-color: #ebf4ff;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            font-weight: 700;
            border-radius: .25rem;
            border: 1px solid transparent;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button.current {
            color: #fff !important;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
            font-weight: 700;
            border-radius: .25rem;
            background: #f26f6f !important;
            border: 1px solid transparent;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            color: #fff !important;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
            font-weight: 700;
            border-radius: .25rem;
            background: #f26f6f !important;
            border: 1px solid transparent;
        }

        table.dataTable.no-footer {
            border-bottom: 1px solid #e2e8f0;
            margin-top: 0.75em;
            margin-bottom: 0.75em;
        }
    </style>
</head>


<body class="bg-gray-100 text-gray-900 tracking-wider leading-normal">
    <div class="container mx-auto px-4">
        <h1 class="flex items-center font-sans font-bold break-normal py-8 text-xl md:text-3xl">
            <span class="text-red-500">M Money X</span>&nbsp;<span class="text-green-600">Heiniken</span>
        </h1>

        <!-- Date Range Inputs -->
        <div class="mb-4 flex justify-end  ">
            <label for="min-date" class="mr-2">From:</label>
            <input type="text" id="min-date" name="min-date" class="border rounded px-2 py-1">

            <label for="max-date" class="ml-4 mr-2">To:</label>
            <input type="text" id="max-date" name="max-date" class="border rounded px-2 py-1">
        </div>

        <!-- Active Table Container -->
        <div id="activeTableContainer">
            <table id="activeTable" class="display responsive nowrap" style="width:100%">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="px-4 py-2">ລຳດັບ</th>
                        <th class="px-4 py-2">Code</th>
                        <th class="px-4 py-2">ເບິໂທ</th>
                        <th class="px-4 py-2">ມູນຄ່າ</th>
                        <th class="px-4 py-2">ວັນທີ່ເຕີມ</th>
                        <th class="px-4 py-2">ສະຖານທີ່</th>
                        <th class="px-4 py-2">ສະຖານະ</th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    <!-- Active data rendering with EJS or similar templating engine -->
                    <% data.forEach(row=> { %>
                    <tr class="hover:bg-gray-100">
                        <td class="border px-4 py-2 text-center">
                            <%= row.id %>
                        </td>
                        <td class="border px-4 py-2 text-center">
                            <%= row.codes %>
                        </td>
                        <td class="border px-4 py-2 text-center">
                            <%= row.msisdn %>
                        </td>
                        <td class="border px-4 py-2 text-center">
                            <%= row.amount %>
                        </td>
                        <td class="border px-4 py-2 text-center">
                            <%= new Date(row.created).toLocaleDateString('en-US', { timeZone: 'Asia/Bangkok' }) %>
                        </td>
                        <td class="border px-4 py-2 text-center">
                            <%= row.location %>
                        </td>
                        <td class="border px-4 py-2 text-center">ໃຊ້ແລ້ວ</td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>

        <h1>Locations on Google Maps</h1>
        <div id="map"></div>

    </div>

    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

    <!-- DataTables Initialization -->
    <script>
        $(document).ready(function () {
            var activeTable = $('#activeTable').DataTable({
                responsive: true,
                dom: 'Bfrtip',
                pageLength: 50,
                buttons: [
                    'excelHtml5',
                ]
            });

            // Date range filter
            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var min = $('#min-date').datepicker("getDate");
                    var max = $('#max-date').datepicker("getDate");
                    var startDate = new Date(data[4]);

                    if (min == null && max == null) {
                        return true;
                    }
                    if (min == null && startDate <= max) {
                        return true;
                    }
                    if (max == null && startDate >= min) {
                        return true;
                    }
                    if (startDate <= max && startDate >= min) {
                        return true;
                    }
                    return false;
                }
            );

            $("#min-date").datepicker({
                onSelect: function () {
                    activeTable.draw();
                },
                changeMonth: true,
                changeYear: true
            });
            $("#max-date").datepicker({
                onSelect: function () {
                    activeTable.draw();
                },
                changeMonth: true,
                changeYear: true
            });

            // Event listener to the date range filtering inputs to redraw on input
            $('#min-date, #max-date').change(function () {
                activeTable.draw();
            });

            // Toggle between active and inactive tabs
            $('#activeTab').click(function () {
                $('#activeTableContainer').show();
                activeTable.columns.adjust().draw();
                return false;
            });

            var LocationBefore = [];
            var AllOfLocation = []; 
            <% data.forEach(element => { %>
                console.log("<%= element.location %>");
                LocationBefore.push("<%= element.location %>");
            <% }); %>

            function initMap() {
                LocationBefore.forEach(item => {
                    var latLng = item.split(',');
                    var lat = parseFloat(latLng[0]);
                    var lng = parseFloat(latLng[1]);
                    AllOfLocation.push({
                        lat: lat,
                        lng: lng
                    });
                });
                var defaultLocation = {
                    lat: 13.7563,
                    lng: 100.5018
                };
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 6,
                    center: defaultLocation
                });
                // Create markers from AllOfLocation array
                AllOfLocation.forEach(location => {
                    if (location != null) {
                        var marker = new google.maps.Marker({
                            position: location,
                            map: map,
                        });
                    }
                });
            }
            initMap();
        });
    </script>

    <!-- map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDs0D4pKWbnAcK8bP9tIvpvPpU364v-So&callback=initMap"
        async defer></script>
</body>

</html>